.Card {
  & > a {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 1.5rem;
    text-decoration: none;
    color: #333;
    background-color: #bce;
    border-radius: 0.2rem;
    &:hover {
      background-color: #cdf;
    }
    & > h3 {
      display: inline-block;
      padding-bottom: 0.5rem;
      font-size: 1.5rem;
      margin: auto;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
